/******************************************************************

    PAGE: P_ERROR_404

******************************************************************/

.p_error-404 {
    text-align: center;
    margin: 4em 0;
}
