/******************************************************************

    PAGE: P_IMPRINT

******************************************************************/

.p_imprint {

    h1 {
        color: $c1-third;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.8rem;
        color: $c1-third;
        margin: 2em 0 0.5em;
    }

    h3 {
        margin: 2em 0 1em;
    }

    p {
        line-height: 1.8;
    }
}
