/******************************************************************
STYLESHEET: BUTTON

******************************************************************/

.btn {
    background-color: $c1-second;
    padding: 1em;
    display: inline-block;

    &:hover {
        background-color: $c2-second;
    }
}
