/******************************************************************

    MODULE: M_BUTTON

******************************************************************/

.btn {
    background-color: $c1-third;
    color: $c-white;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-bottom: 5px solid $c2-third;
    border-radius: 5px;
    padding: 1em 2em;
    margin-top: 1em;

    &:hover {
        outline: 0;
        background-color: $c3-third;
    }
}
