/******************************************************************
    MODULE: M-FORM

******************************************************************/

.wpcf7-form {

    p {
        position: relative;
        width: 100%;
    }

    .form {

        &__label {
            position: absolute;
            left: 1em;
            top: 1em;
            z-index: 5;
            user-select: none;
            transition: font-size 0.1s ease-out;

            &.active,
            &.done {
                left: 1.2em;
                top: 0.3em;
                font-size: 0.8rem;
                font-weight: 700;
            }

            &.done {
                color: $c2-main;
            }

            &.active {
                color: $c1-third;
            }
        }

        &__input {
            width: 100%;
            max-width: 500px;
            background-color: $c3-main;
            border: none;
            border-bottom: 2px solid $c13-grey;
            padding: 1.4em 1em 0.6em;

            &:focus {
                outline: 0;
                border-bottom: 2px solid $c1-third;
            }

            &--wide {
                max-width: 1000px;
            }
        }
    }

    .wpcf7 {

        &-response-output {
            margin: 2em 0 1em;
            padding: 1em;
        }

        &-validation-errors {
            border: none;
            border-left: 3px solid $c1-error;
            color: $c1-error;
        }

        &-mail-sent-ok {
            border: none;
            border-left: 3px solid $c1-success;
            color: $c1-success;
        }

        &-not-valid-tip {
            color: $c1-error;
            font-size: 0.8rem;
            font-weight: 700;
            padding-left: 1em;
        }
    }
}
