/******************************************************************

    MODULE: M_SEARCH

******************************************************************/

.search {

    &__box {
        background-color: $c3-main;
        padding: 1em 2em;
        margin: 1em 0;
    }
}
