/******************************************************************
STYLESHEET: MODULE

******************************************************************/

.file-path {
    color: $c2-accent;
    font-family: 'Consolas';
    text-align: left;
    margin: 0.5em 0 1em;

    &--highlight {
        font-weight: 700;
    }
}