/******************************************************************
STYLESHEET: TEASER

******************************************************************/

.teaser--fullwidth {
  background-color: $c14-grey;
  margin: 2em 0 0;
  padding: 2em 0;
}