/******************************************************************

    FOOTER: F_FOOTER

******************************************************************/

.f_footer {
    background-color: $c1-main;
    color: $c-white;
    text-align: center;
    padding: 1em 0;

    @include small {
        padding: 2em 0;
    }
}
