/******************************************************************

    FOOTER: F_MAIN

******************************************************************/

.f_main {
    background-color: $c1-main;
    color: $c-white;
    text-align: center;
}
