@import "../settings/set_variables";

body {

    &.login {
        background-color: $c1-main;

        div, p, a, label, input {
            font-family: $font-1;
            font-weight: 400;
        }

        a {
            transition: all 0.2s ease-in-out;
        }

        #login {
            width: 95%;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 4%;

            h1 a {
                background-image: url('img/dreiqbik-logo-bildmarke.svg');
                height: 100px;
                width: 100px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        form {
            background-color: $c2-main;
            margin-top: 3em;
            padding: 3em;
        }

        label {

            &[for=user_login],
            &[for=user_pass],
            &[for=rememberme] {
                color: $c-white;
            }

            &[for=user_login],
            &[for=user_pass] {

                input {
                    padding: 10px;
                    font-size: 18px;
                }
            }
        }

        //input -> user/password
        input {

            &[type=text],
            &[type=password] {
                background: $c-white;
            }

            &[type=text],
            &[type=password] {
                margin-top: 10px;
            }
        }

        //checkbox -> forgetmenot
        .forgetmenot {
            margin-top: 20px;
            margin-bottom: 20px !important;

            input {

                &[type=checkbox] {
                    background: $c-white;

                    &:checked {
                        position: relative;

                        &:before {
                            content: "\f147";
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: $c2-main;
                        }
                    }
                }
            }
        }

        //login button
        .submit {

            .button {
                background: none;
                background-color: $c1-third;
                color: #ffffff;
                display: inline-block;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                border-bottom: 5px solid $c2-third;
                border-radius: 5px;
                padding: 1em 2em;
                margin-top: 1em;
                width: 100%;
                height: auto;
                text-shadow: none;
                box-shadow: none;
                float: none;
                transition: all 0.2s ease-in-out;

                &:hover {
                    outline: 0;
                    background-color: $c3-third;
                }
            }
        }

        //links -> forget password/back to website
        #nav a,
        #backtoblog a {
            color: $c1-accent;

            &:link {
                color: $c1-accent;
            }
            &:visited {
                color: $c1-accent;
            }
            &:hover {
                color: $c1-second;
            }
            &:active {
                color: $c1-accent;
            }
        }

        //message -> foreget password
        .message {
            margin-top: 3em;
            padding: 2em;
            border-left: 5px solid $c1-accent;
            background-color: $c2-main;
            color: $c-white;
            font-size: 0.9rem;
        }

        //message -> wrong user/password
        #login_error {
            margin-top: 3em;
            padding: 2em;
            border-left: 5px solid $c1-accent;
            background-color: $c2-main;
            color: $c-white;
            font-size: 0.9rem;
            line-height: 1.4rem;

            strong {
                font-weight: 700;
            }

            a {
                color: $c1-accent;

                &:link {
                    color: $c1-accent;
                }
                &:visited {
                    color: $c1-accent;
                }
                &:hover {
                    color: $c1-second;
                }
                &:active {
                    color: $c1-accent;
                }
            }
        }
    }
}
