/******************************************************************

    SECTION: S_IMPRINT

******************************************************************/

.s_imprint {

    a {
        border-bottom: 3px solid $c3-third;

        &:hover {
            color: $c1-third;
        }
    }
}
