/******************************************************************

	SETTINGS: SET_VARIABLES
	    > COLORS
	    > FONTS
	    > GRID_GAPS
		> GRID_WIDTH
	    > BREAKPOINTS

******************************************************************/



/******************************************************************
	COLORS
******************************************************************/

	/* ====================================
		GREYSCALE
	==================================== */

	$c-black:  						#000000;
	$c1-grey:   					#111111;
	$c2-grey:   					#222222;
	$c3-grey:   					#333333;
	$c4-grey:   					#444444;
	$c5-grey:   					#555555;
	$c6-grey:   					#666666;
	$c7-grey:   					#777777;
	$c8-grey:   					#888888;
	$c9-grey:   					#999999;
	$c10-grey:   					#aaaaaa;
	$c11-grey:   					#bbbbbb;
	$c12-grey:   					#cccccc;
	$c13-grey:   					#dddddd;
	$c14-grey:   					#eeeeee;
	$c-white:  						#ffffff;


	/* ====================================
		PROJECT
	==================================== */

	$c1-main:						#202A35;
	$c2-main:						#364250;
	$c3-main:						#F5F8FB;

	$c1-second:						#fff191;
	$c2-second:						#EEDE70;

	$c1-third:						#ec764d;
	$c2-third:						#d96a44;
	$c3-third:						#ff855b;


	/* ====================================
		SPECIALS
	==================================== */

	$c1-accent: 					#B1C3D4;

	$c1-hint:						$c1-second;
	$c1-error:						#D6445C;
	$c1-success:					$c1-main;



/******************************************************************
	FONTS
******************************************************************/

	/* ====================================
		INITIALIZE
	==================================== */

	$font-1: 'Open Sans', Helvetica, Arial, sans-serif;
	$font-2: 'Merriweather', 'Times New Roman', Times, serif;


	/* ====================================
		DECLARATION
	==================================== */

	$f-base:    $font-1;
	$f-heading: $font-2;
	$f-link:    $font-1;
	$f-text:    $font-1;



/******************************************************************
	GRID_GAPS
******************************************************************/

	$wgap-xs: 			1rem;	// gaps between columns
	$hgap-xs: 			1rem;		// gaps between rows
	$sgap-xs: 			2rem;		// gaps between sections

	$wgap-sm: 			1rem /2;	// gaps between columns
	$hgap-sm: 			1rem;		// gaps between rows
	$sgap-sm: 			3rem;		// gaps between sections

	$wgap-md: 			2rem /2;	// gaps between columns
	$hgap-md: 			2rem;		// gaps between rows
	$sgap-md: 			4rem;		// gaps between sections

	$wgap-lg: 			2rem /2;	// gaps between columns
	$hgap-lg: 			2rem;		// gaps between rows
	$sgap-lg: 			6rem;		// gaps between sections



/******************************************************************
	GRID_WIDTH
******************************************************************/

	$width-xs: 			100%;
	$width-min-xs: 		0;
	$width-max-xs: 		360px;

	$width-sm: 			90%;
	$width-min-sm: 		0;
	$width-max-sm: 		600px;

	$width-md: 			80%;
	$width-min-md: 		0;
	$width-max-md: 		none;

	$width-lg: 			70%;
	$width-min-lg: 		0;
	$width-max-lg: 		1400px;

	$width-xl: 			60%;
	$width-min-xl: 		0;
	$width-max-xl: 		none;


/******************************************************************
	BREAKPOINTS
******************************************************************/

	$w-base-max: 		480px;

	$w-small-min: 		481px;
	$w-small-max: 		960px;

	$w-medium-min: 		961px;
	$w-medium-max: 		1360px;

	$w-large-min: 		1361px;
	$w-large-max: 		1920px;

	$w-xlarge-min: 		1921px;
