/******************************************************************

    BASE: B_TEXT
        > GENERAL
        > SPECIFIC

******************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-heading;
}

p {
    font-family: $f-text;
}

.heading {

    &-1 {
        color: $c1-third;
        margin: 0;
    }

    &-2 {
        font-size: 1.8rem;
        color: $c1-third;
        margin: 0;
    }

    &-3 {
        margin: 2em 0 1em;
    }
}

.text {
    line-height: 1.8;

    &--italic {
        font-style: italic !important;
    }

    &--light {
        font-weight: 300 !important;
    }

    &--semibold {
        font-weight: 600 !important;
    }

    &--bold {
        font-weight: 700 !important;
    }

    &--white {
        color: $c-white !important;
    }

    &--black {
        color: $c-black !important;
    }
}
