/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {
	font-family: $f-link;
    color: inherit;
    text-decoration: none;
    font-weight: bold;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: inherit;
    }

	&:focus {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}

.link {

    &--inline {
        border-bottom: 3px solid $c3-third;

        &:hover {
            color: $c1-third;
        }
    }
}
