/******************************************************************
STYLESHEET: COMMENTS

******************************************************************/

.comments-area {
    background-color: $c13-grey;
    padding: 2em 0;
}
