/******************************************************************
STYLESHEET: COMMENTS

******************************************************************/

.comments-area {
    background-color: $c2-main;
    color: $c-white;
    padding: 2em;
}
