/******************************************************************
STYLESHEET: CONTENT

******************************************************************/

.site {

    &__content {
        padding: 2em 0 4em;
    }
}

.container {

    &--error {

        @include medium {
            margin: 10em 0;
        }
    }
}
