/******************************************************************
STYLESHEET: CONTENT

******************************************************************/

.site-content {
    padding: 2em;

    .content-area {
        padding-right: 4em;
        margin-bottom: 4em;
    }
}
