/******************************************************************
STYLESHEET: FOOTER

******************************************************************/

.site-footer {
    background-color: $c1-main;
    color: $c-white;
    text-align: center;
    padding: 2em;
}
