/******************************************************************
STYLESHEET: HEADER

******************************************************************/

.site__header {
    background-color: $c1-main;
    color: $c-white;
    text-align: center;
    padding: 2em 0;
}
