/******************************************************************

    LAYOUT: L_CONTAINER

******************************************************************/

.container {

    &--narrow {
    }

    &--wide {
    }
}

.container__inner {

    &--s_sidebar {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &--h_example {
    }

    &--s_example {
    }
}
