/******************************************************************
STYLESHEET: NAV

******************************************************************/

.site-navigation {
    display: none;
    margin-top: 2em;

    @include medium {
        display: block;
    }

    ul {
        margin: 0;
        list-style: none;
    }
}
