/******************************************************************
STYLESHEET: SIDEBAR

******************************************************************/

.widget-area {
    background-color: $c1-second;
    padding: 2em;
}
