/******************************************************************

    HEADER: H_HEADER

******************************************************************/

.h_header {
    background-color: $c1-main;
    color: $c-white;
    text-align: center;
    min-height: 70px;
}
